/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_hero__7KFOs {
  padding: 80px 0 64px;
  border-bottom: 1px solid var(--border);
  position: relative;
  overflow: hidden;
}

.page_hero__7KFOs::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(232,255,71,0.06) 0%, transparent 70%);
  top: -200px;
  right: -100px;
  pointer-events: none;
}

.page_heroTag__OsUmD {
  font-size: 13px;
  color: var(--muted);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.page_heroTitle__ixXIp {
  font-size: 60px;
  font-weight: 800;
  line-height: 80px;
  margin-bottom: 40px;
  max-width: 70%;
}

.page_searchBar__XgxiL {
  display: flex;
  gap: 12px;
  max-width: 560px;
}

.page_searchBar__XgxiL input {
  flex: 1 1;
  font-size: 15px;
  background: var(--surface);
}

.page_catSection__IO76v {
  padding: 24px 0;
  border-bottom: 1px solid var(--border);
}

.page_catRow__9yqM6 {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.page_catPill__Kf7j_ {
  padding: 7px 16px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
  border: 1px solid var(--border);
  transition: all 0.2s;
  white-space: nowrap;
}

.page_catPill__Kf7j_:hover { 
    background: var(--accent);
  color: #ffffff;
  border-color: var(--accent);
}

.page_catActive__m5oRn {
  background: var(--accent);
  color: #ffffff;
  border-color: var(--accent);
}

.page_gridSection__z8oTU {
  padding: 48px 0 80px;
}

.page_gridHeader___bLkP {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 28px;
}

.page_sectionTitle__6ic_4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.page_count__zVp1H {
  font-size: 13px;
  color: var(--muted);
}

.page_grid__JZ9Cz {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 20px;
  gap: 20px;
}

.page_productCard__5Z_W3 {
  display: block;
  transition: transform 0.2s, border-color 0.2s;
  cursor: pointer;
}
.page_productCard__5Z_W3:hover {
  transform: translateY(-3px);
  border-color: #444;
}

.page_imgWrap__vS4Jv {
  aspect-ratio: 4/3;
  overflow: hidden;
  background: var(--surface2);
}

.page_imgWrap__vS4Jv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.page_productCard__5Z_W3:hover .page_imgWrap__vS4Jv img { transform: scale(1.04); }

.page_noImg___gZNw {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--muted);
  font-size: 13px;
}

.page_cardBody__X5bf8 {
  padding: 16px;
}

.page_catLabel__yWWj0 {
  font-size: 11px;
  color: var(--muted);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  display: block;
  margin-bottom: 6px;
}

.page_cardTitle__T08IG {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.page_cardFooter__c45iP {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.page_price__9Mgp5 {
  /* font-family: var(--font-head); */
  font-weight: 700;
  font-size: 17px;
  color: var(--accent);
}

.page_loc__bZOGl {
  font-size: 12px;
  color: var(--muted);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page_empty__btHOz {
  text-align: center;
  padding: 80px 0;
  color: var(--muted);
}


@media (max-width: 480px) {
  .page_heroTitle__ixXIp {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 40px;
    max-width: 100%;
}
.page_catRow__9yqM6 {
    flex-wrap: nowrap;
    overflow-y: scroll;
}
.page_catRow__9yqM6::-webkit-scrollbar {
  display: none;
}
.page_grid__JZ9Cz {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 2fr));
    grid-gap: 10px;
    gap: 10px;
}
}

.page_imgBadge__we7nK {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 47, 52, 0.8);
  color: white;
  padding: 3px 8px;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 2;
}

@media (max-width: 1024px) and (min-width: 481px) {
  .page_tabContainer__hqncc {
    padding: 0 30px;
  }
}
